<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokémon Battle</title>
</head>
<body>
    <h1>Pokémon Battle</h1>

    <h2>Your Pokémon</h2>
    <div>
        <div>Name: Pikachu</div>
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" width="100">
        <div id="pikachu-hp">HP: 100</div>
    </div>

    <h2>Opponent Pokémon</h2>
    <div>
        <div id="opponent-name">Loading...</div>
        <img id="opponent-sprite" src="" width="100">
        <div id="opponent-hp">HP: ...</div>
    </div>

    <div>
        <button id="attack-btn">Attack</button>
        <button id="catch-btn">Catch</button>
    </div>

    <script src="{{ url_for('static', filename='battle.js') }}"></script>
</body>
</html>
