/* This css file serves both login.html and register.html */

.title{
    display: flex;
}

#pokemonTitle{
    width: 150px;
    height:auto;
}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}