<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='proj3.css') }}">
</head>
<body>
    <h1>Pokemon Game</h1>
    <div id="pokemon-container">
        <img id="pokemonSprite" src="" alt="Pokemon sprite" style="display: none;">
    </div>
    <script src="{{ url_for('static', filename='proj3.js') }}"></script>
</body>
</html>