<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="title">
        <a href="{{ url_for('home')}}">
            <img id="pokemonTitle" src="{{ url_for('static', filename='pokemon-title.png') }}">
        </a>
    </div>
    
    <form class="loginForm" method="post">
        <h1>Login</h1>
        
        <!-- Flash messages for feedback -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required="required" value="{{ username|default('') }}" placeholder="Enter username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required="required" placeholder="Enter password">
        <input type="submit" id="submit" value="Log-in">
    </form>
</body>
</html>