<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="title">
        <a href="{{ url_for('home')}}">
            <img id="pokemonTitle" src="{{ url_for('static', filename='pokemon-title.png') }}">
        </a>
    </div>
    
    <form class="loginForm" method="post">
        <h1>Login</h1>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required="required" value="{{ username|default('') }}">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required="required">
        <input type="submit" id="submit" value="Log-in">
    </form>
</body>
</html>